main/build/
main/*.o
main/*.elf
main/*.dol
bootloader/build
bootloader/*.o
bootloader/*.elf
bootloader/*.dol
installer/build
installer/*.o
installer/*.elf
installer/*.dol
discloader/build
discloader/*.o
discloader/*.elf
discloader/*.dol
libGUI/build
dolbooter/*.o
dolbooter/*.bin
dolbooter/*.elf
dolbooter/*.elf.map
dolbooter/*.dol
dolbooter/dis.txt
codehandler/*.asm
codehandler/*.bin
readROMPatch/*.o
readROMPatch/*.elf.map
readROMPatch/*.elf
readROMPatch/dis.txt
readROMPatch/font_western_bin.h
*.DS_Store*
discloader/asmPatches/build
discloader/asmPatches/out
rvlbooter/*.o
rvlbooter/*.bin
rvlbooter/*.elf
rvlbooter/*.elf.map
rvlbooter/*.dol
rvlbooter/main_dol.h
driveRoot/apps/RVLoader/*.dol
