<filepath="button_a.png" id="TEXID_button_A" colfmt=6 />
<filepath="button_b.png" id="TEXID_button_B" colfmt=6 />
<filepath="button_x.png" id="TEXID_button_X" colfmt=6 />
<filepath="button_y.png" id="TEXID_button_Y" colfmt=6 />
<filepath="button_s.png" id="TEXID_button_S" colfmt=6 />
<filepath="dummyCover.png" id="TEXID_dummyCover" colfmt=6 />
<filepath="dummyHBIcon.png" id="TEXID_dummyHBIcon" colfmt=6 />
<filepath="logo.png" id="TEXID_logo" colfmt=6 />