name: Automated DOL Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: DevkitPPC build
    runs-on: ubuntu-latest
    container: 
      image: devkitpro/devkitppc:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Make
        run: |
          make clean
          make

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: SD Card Files
          path: ./driveRoot/
